# Set Content-Type charset to UTF-8
AddDefaultCharset UTF-8

# Remove unneeded headers
<IfModule mod_headers.c>
    Header unset X-Frame-Options
    Header unset X-XSS-Protection
    
    # Security Headers
    Header set Content-Security-Policy "frame-ancestors 'self';"
    Header set X-Content-Type-Options "nosniff"
    
    # Cache Control for Static Resources
    <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
        Header set Cache-Control "max-age=31536000, public, immutable"
    </FilesMatch>
    
    # Cache Control for HTML
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=3600, public, must-revalidate"
    </FilesMatch>
</IfModule>
